Repository kueda/chuck: changes, and which lefthook commands are due for each by the changed paths.
All: format_and_check_frontend, check_backend

format_and_check_frontend:
  run: "npm run format -- {staged_files} \\\n  && npm run check:biome -- {staged_files} \\\n  && npm run check:svelte -- {staged_files}\n"

check_backend:
  run: npm run check:backend

chore: run tests on PRs and pushes to main
  .github/workflows/test.yml
Due: none

chore: remove performance tests from default test suite
  package.json
Due: none

chore: add code check to test action
  .github/workflows/test.yml
Due: none

chore: use rust-toolchain to use same rust in all contexts
  .github/workflows/publish.yml
  .github/workflows/test.yml
  rust-toolchain.toml
Due: none

chore: switch to actions-rust-lang/setup-rust-toolchain
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: try to install Playwright emulators before running tests
  .github/workflows/test.yml
Due: none

chore: try to pre-bundle json extension for duckdb crate
  src-tauri/Cargo.toml
Due: none

chore: respect node version in .nvmrc in GitHub actions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: run modified test suite on windows
  .github/workflows/test.yml
  package.json
  playwright.config.ts
  tests/app.spec.ts
  tests/bounding-box.spec.ts
Due: none

refactor: use filesystem for photo cache instead of database
  src-tauri/Cargo.toml
  src-tauri/src/dwca/archive.rs
  src-tauri/src/photo_cache.rs
Due: check_backend

chore: fix formatting and typos in tests and linting
  package.json
  tests/app.spec.ts
  tests/bounding-box.spec.ts
Due: none

test: more workarounds for Windows
  tests/app.spec.ts
  tests/bounding-box.spec.ts
  tests/occurrence-drawer.spec.ts
Due: none

test: try retries on Windows
  playwright.config.ts
Due: none

chore: try to let setup-rust-toolchain cache automatically
  .github/workflows/test.yml
Due: none

fix: show photos when embedded (#8)
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/dwca/archive.rs
  src-tauri/src/photo_cache.rs
  tests/app.spec.ts
  tests/bounding-box.spec.ts
Due: check_backend

chore: have vite ignore large files differently
  vite.config.js
Due: none

feat: add button to download from iNat to splash screen
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/routes/+page.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend, check_backend

chore: show human-readable platform in built assets
  .github/workflows/publish.yml
Due: none

v0.1.3
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  scripts/bump-version.js
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: add download from inat button (#11)
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/routes/+page.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
  vite.config.js
Due: format_and_check_frontend, check_backend

feat: show size estimate before downloading DwC-A
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

chore: try to skip copying artifacts we don't need
  .github/workflows/publish.yml
Due: none

feat: show size estimate before downloading DwC-A (#12)
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: round download time estimates up to the minute
  src/routes/inat-download/format-etr.test.ts
  src/routes/inat-download/format-etr.ts
Due: format_and_check_frontend

fix: smooth ETR in download to avoid visible increases
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

feat: add autocomplete for filters in iNat download
  package-lock.json
  package.json
  playwright.config.ts
  scripts/bump-version.js
  src/lib/components/InatPlaceChooser.svelte
  src/lib/components/InatSearchChooser.svelte
  src/lib/components/InatTaxonChooser.svelte
  src/lib/components/InatTaxonName.svelte
  src/lib/components/InatUserChooser.svelte
  src/lib/composables/useInatSearch.svelte.ts
  src/lib/types/inaturalist.ts
  src/lib/types/inaturalistjs.d.ts
  src/routes/+layout.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend

fix: round time remaining to minute (#14)
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/format-etr.test.ts
  src/routes/inat-download/format-etr.ts
Due: format_and_check_frontend

chore: avoid creating new releases when they already exist for a version
  .github/workflows/publish.yml
Due: none

fix: avoid duckdb error immediately after opening download
  src-tauri/src/db/database.rs
Due: check_backend

feat: add style-able oauth success page
  chuck-core/src/auth/oauth.rs
  chuck-core/src/auth/oauth_success.html
Due: check_backend

chore: use recognizable platform names in release assets (#15)
  .github/workflows/publish.yml
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  scripts/bump-version.js
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: add autocomplete for filters in iNat download (#17)
  package-lock.json
  package.json
  playwright.config.ts
  scripts/bump-version.js
  src/lib/components/InatPlaceChooser.svelte
  src/lib/components/InatSearchChooser.svelte
  src/lib/components/InatTaxonChooser.svelte
  src/lib/components/InatTaxonName.svelte
  src/lib/components/InatUserChooser.svelte
  src/lib/composables/useInatSearch.svelte.ts
  src/lib/types/inaturalist.ts
  src/lib/types/inaturalistjs.d.ts
  src/routes/+layout.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend

chore: cancel prior test builds on same branch
  .github/workflows/test.yml
Due: none

chore: cancel previous test actions (#18)
  .github/workflows/test.yml
Due: none

feat: include extensions in download size estimate
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

feat: show nicer About menu item
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: check_backend

fix: remove empty menus
  package-lock.json
  src-tauri/src/lib.rs
Due: check_backend

Path conditions:
  format_and_check_frontend: any of: {src,tests}/**/*.{js,ts,svelte,css}
  check_backend: any of: **/*.rs
