Repository kueda/chuck: changes, and which lefthook commands are due for each by the changed paths.
All: format_and_check_frontend, check_backend

lefthook.yml:

pre-commit:
  commands:
    format_and_check_frontend:
      glob: "{src,tests}/**/*.{js,ts,svelte,css}"
      run: |
        npm run format -- {staged_files} \
          && npm run check:biome -- {staged_files} \
          && npm run check:svelte -- {staged_files}
    check_backend:
      glob: "**/*.rs"
      run: npm run check:backend

fix: update downloaded archive size est when filtering by user
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

feat: support custom comments extension in DwC-A downloads from iNat
  chuck-cli/src/main.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/darwin_core/comment.rs
  chuck-core/src/darwin_core/conversions.rs
  chuck-core/src/darwin_core/meta.rs
  chuck-core/src/darwin_core/mod.rs
  chuck-core/src/downloader.rs
  chuck-core/src/dwca_extension.rs
  src-tauri/src/commands/inat_download.rs
  src/lib/components/ActivityCard.svelte
  src/lib/components/Comment.svelte
  src/lib/components/Identification.svelte
  src/lib/components/Markup.svelte
  src/lib/components/OccurrenceDrawer.svelte
  src/lib/types/archive.ts
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: show download options as steps
  package-lock.json
  package.json
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend

wip: first pass at offline map download from Protomaps
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/basemap/commands.rs
  src-tauri/src/basemap/mod.rs
  src-tauri/src/basemap/protocol.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/components/BasemapSetup.svelte
  src/lib/components/OccurrenceMap.svelte
  src/lib/mapStyle.ts
  src/lib/tauri-api.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/Map.svelte
Due: format_and_check_frontend, check_backend

feat: improve tile download speed
  src-tauri/Cargo.toml
  src-tauri/src/basemap/commands.rs
Due: check_backend

chore: restore commit and tag behavior to version script
  scripts/bump-version.js
Due: none

v0.2.0
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: allow network requests for iNat autocomplete fields
  src-tauri/tauri.conf.json
  src/routes/+layout.svelte
  vite.config.js
Due: format_and_check_frontend

v0.2.1
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: show embedded photos on Windows
  src-tauri/src/dwca/archive.rs
Due: check_backend

v0.2.2
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: remove Window menu from Linux
  src-tauri/src/lib.rs
Due: check_backend

fix: show values in groups tab when archive has Audiovisual extension
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/lib.rs
  src-tauri/tests/archive_integration_test.rs
Due: check_backend

fix: show Audiovisual ext images in cards view
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceCard.svelte
  src/lib/components/OccurrenceDrawer.svelte
  src/routes/Groups.svelte
Due: format_and_check_frontend

chore: placate biome js formatting
  src/lib/components/MediaItem.svelte
Due: format_and_check_frontend

fix: show values in groups tab when archive has Audiovisual extension (#24)
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/lib.rs
  src-tauri/tests/archive_integration_test.rs
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceCard.svelte
  src/lib/components/OccurrenceDrawer.svelte
  src/routes/Groups.svelte
Due: format_and_check_frontend, check_backend

fix: open existing Chuck archives and avoid writing empty columns
  chuck-core/Cargo.toml
  chuck-core/src/darwin_core/audiovisual.rs
  chuck-core/src/darwin_core/comment.rs
  chuck-core/src/darwin_core/identification.rs
  chuck-core/src/darwin_core/meta.rs
  chuck-core/src/darwin_core/multimedia.rs
  chuck-core/src/darwin_core/occurrence.rs
  src-tauri/src/db/database.rs
  src-tauri/tests/archive_integration_test.rs
Due: check_backend

wip: first pass at regional map downloads
  src-tauri/Cargo.toml
  src-tauri/src/basemap/commands.rs
  src-tauri/src/basemap/protocol.rs
  src-tauri/src/lib.rs
  src/lib/components/BasemapSetup.svelte
  src/lib/components/OccurrenceMap.svelte
  src/lib/tauri-api.ts
  src/routes/Map.svelte
Due: format_and_check_frontend, check_backend

feat: move offline basmaps into separate window
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/routes/+page.svelte
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend, check_backend

feat: adjust UI for basemap download tool
  src-tauri/src/lib.rs
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend, check_backend

feat: remove rotate and tilt controls
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: improve basemap download size estimates
  src-tauri/src/basemap/commands.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend, check_backend

feat: name regional basemap downloads
  src-tauri/src/basemap/commands.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend, check_backend

feat: show total size of downloaded basemaps
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: add button to zoom to downloaded basemap extent
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: require confirmation before deleting a basemap
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: start basemap download in indeterminate progress state
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: move zoom / delete buttons for better rhythm
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: add loading status to region name
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: add attribution to Protomaps and OSM on Basemap Download window
  src/lib/mapStyle.ts
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: show online tiles as fallback when offline tiles unavailable
  src/lib/mapStyle.ts
Due: format_and_check_frontend

feat: add offline maps (#25)
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/basemap/commands.rs
  src-tauri/src/basemap/mod.rs
  src-tauri/src/basemap/protocol.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/components/OccurrenceMap.svelte
  src/lib/mapStyle.ts
  src/lib/tauri-api.ts
  src/routes/Map.svelte
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend, check_backend

fix: cancel photo downloads in flight when cancelling iNat download
  chuck-core/src/darwin_core/photos.rs
  chuck-core/src/downloader.rs
  chuck-core/tests/downloader_integration_test.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: add drag-and-drop to open archive
  src-tauri/src/dwca/archive.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/tauri-api.ts
  src/routes/+page.svelte
  tests/mocks/tauri.ts
Due: format_and_check_frontend, check_backend

docs: updated desc and attribution in app Cargo.toml
  src-tauri/Cargo.toml
Due: none

fix: gate Mac-only feature to fix compilation on Linux and Windows
  src-tauri/src/commands/archive.rs
  src-tauri/src/lib.rs
  src/routes/+page.svelte
  tests/mocks/tauri.ts
Due: format_and_check_frontend, check_backend

chore: skip importing RunEvent, which is only used on Mac
  src-tauri/src/lib.rs
Due: check_backend

v0.3.0
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: replace coordinateUncertaintyInMeters filter w/ min/max fields
  src-tauri/src/db/database.rs
  src/lib/components/Filters.svelte
  src/lib/components/MinMaxFilter.svelte
  src/lib/utils/filterCategories.ts
Due: format_and_check_frontend, check_backend

feat: add parse_url_params to chuck-core
  chuck-core/src/api/params.rs
Due: check_backend
