Repository kueda/chuck: changes, and which lefthook commands are due for each by the changed paths.
All: format_and_check_frontend, check_backend

format_and_check_frontend:
  run: "npm run format -- {staged_files} \\\n  && npm run check:biome -- {staged_files} \\\n  && npm run check:svelte -- {staged_files}\n"

check_backend:
  run: npm run check:backend

fix: remove stale TODO, drop "any" sub-values in parse_url_params
  chuck-core/src/api/params.rs
Due: check_backend

test: add comprehensive parse_url_params tests
  chuck-core/src/api/params.rs
Due: check_backend

feat: add serialize_params to chuck-core
  chuck-core/src/api/params.rs
Due: check_backend

feat: add parse_inat_url command and url_params support
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
Due: check_backend

fix: add doc comment and extract_query tests in inat_download
  src-tauri/src/commands/inat_download.rs
Due: check_backend

feat: wire URL mode state and fetchCount in inat download
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

feat: add URL mode segmented control to inat download page
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

fix: prevent unconstrained count fetch in URL mode with no params
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

fix: make segmented control smaller
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

feat: add KML export
  src-tauri/src/commands/export.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

feat: add CSV export
  src-tauri/src/commands/export.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

feat: add export options as native menu items
  src-tauri/src/lib.rs
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

feat: support URL-based filtering in the CLI
  chuck-cli/src/commands/mod.rs
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
Due: check_backend

refactor: rename for readability
  chuck-core/src/api/params.rs
Due: check_backend

feat: filter iNat downloads by URL (#32)
  chuck-cli/src/commands/mod.rs
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
  chuck-core/src/api/params.rs
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: add export as DwC-A
  src-tauri/Cargo.toml
  src-tauri/src/commands/export.rs
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/dwca/mod.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

refactor: move export controls and view switcher to bottom bar
  src-tauri/tauri.conf.json
  src/lib/components/BottomControls.svelte
  src/lib/components/ViewSwitcher.svelte
  src/routes/+page.svelte
  src/routes/Groups.svelte
  tests/groups-tab-count-click.spec.ts
  tests/groups-tab.spec.ts
Due: format_and_check_frontend

fix: include exts in DwC-As from DwC-As with competing coreid claims
  src-tauri/src/commands/export.rs
Due: check_backend

feat: allow export of groups as CSV
  src-tauri/src/commands/archive.rs
  src-tauri/src/commands/export.rs
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/lib.rs
  src-tauri/tests/archive_integration_test.rs
  src/lib/tauri-api.ts
  src/routes/Groups.svelte
  src/routes/Map.svelte
Due: format_and_check_frontend, check_backend

refactor: move export formats into modules
  src-tauri/src/commands/export/csv.rs
  src-tauri/src/commands/export/dwca.rs
  src-tauri/src/commands/export/groups.rs
  src-tauri/src/commands/export/kml.rs
  src-tauri/src/commands/export/mod.rs
Due: check_backend

fix: improve slow DwC-A exports from large archives
  src-tauri/src/commands/export/dwca.rs
Due: check_backend

fix: ensure CSV parsing errors get raised when exporting
  src-tauri/src/commands/export/dwca.rs
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

refactor: log XML write errors when exporting DwC-A
  src-tauri/src/commands/export/dwca.rs
Due: check_backend

fix: speed up CSV and KML exports from large archives
  src-tauri/src/commands/export/csv.rs
  src-tauri/src/commands/export/kml.rs
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
Due: check_backend

refactor: add struct for parse_meta_xml response
  src-tauri/src/commands/export/dwca.rs
  src-tauri/src/dwca/archive.rs
Due: check_backend

refactor: update test fixtures, remove dead code
  src-tauri/Cargo.toml
  src-tauri/src/commands/export/csv.rs
  src-tauri/src/commands/export/dwca.rs
  src-tauri/src/commands/export/kml.rs
  src-tauri/src/dwca/archive.rs
Due: check_backend

refactor: pull group-related Tauri command calls into helper lib
  src/lib/tauri-api.ts
  src/routes/Groups.svelte
Due: format_and_check_frontend

chore: remove dead code
  src-tauri/src/dwca/archive.rs
Due: check_backend

feat: export filtered occurrences (#35)
  src-tauri/Cargo.toml
  src-tauri/src/commands/archive.rs
  src-tauri/src/commands/export/csv.rs
  src-tauri/src/commands/export/dwca.rs
  src-tauri/src/commands/export/groups.rs
  src-tauri/src/commands/export/kml.rs
  src-tauri/src/commands/export/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/db/database.rs
  src-tauri/src/dwca/archive.rs
  src-tauri/src/dwca/mod.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/archive_integration_test.rs
  src/lib/components/BottomControls.svelte
  src/lib/components/ViewSwitcher.svelte
  src/lib/tauri-api.ts
  src/routes/+page.svelte
  src/routes/Groups.svelte
  src/routes/Map.svelte
  tests/groups-tab-count-click.spec.ts
  tests/groups-tab.spec.ts
Due: format_and_check_frontend, check_backend

fix: update window title in Ubuntu when opening archive
  src-tauri/src/commands/archive.rs
  src/routes/+page.svelte
  tests/app.spec.ts
Due: format_and_check_frontend, check_backend

fix: stop showing negative time remaining estimate
  chuck-core/src/downloader.rs
  src-tauri/src/commands/archive.rs
  src/lib/components/InatProgressOverlay.svelte
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/format-etr.test.ts
  src/routes/inat-download/format-etr.ts
  tests/inat-download.spec.ts
Due: format_and_check_frontend, check_backend

chore: appease biome
  tests/inat-download.spec.ts
Due: none

chore: clean up stuff that got stash popped from another branch
  src-tauri/src/commands/archive.rs
Due: check_backend

fix: stop showing negative time remaining estimate (#36)
  chuck-core/src/downloader.rs
  src/lib/components/InatProgressOverlay.svelte
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/format-etr.test.ts
  src/routes/inat-download/format-etr.ts
  tests/inat-download.spec.ts
Due: format_and_check_frontend, check_backend

fix: set HeaderBar in addition to window title in GTK
  src-tauri/Cargo.toml
  src-tauri/src/commands/archive.rs
Due: check_backend

fix: add extra ok
  src-tauri/src/commands/archive.rs
Due: check_backend

fix: set window title w/ archive details in Ubuntu (#37)
  src-tauri/Cargo.toml
  src-tauri/src/commands/archive.rs
  src/routes/+page.svelte
  tests/app.spec.ts
Due: format_and_check_frontend, check_backend

v0.4.0
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: preserve scroll position in cards view when switching to map
  src/lib/components/VirtualizedList.svelte
  tests/app.spec.ts
Due: format_and_check_frontend

feat: remove CSV/TXT data files after populating the database
  src-tauri/src/dwca/archive.rs
Due: check_backend

Path conditions:
  format_and_check_frontend: any of: {src,tests}/**/*.{js,ts,svelte,css}
  check_backend: any of: **/*.rs
