Repository kueda/chuck: changes, and which lefthook commands are due for each by the changed paths.
All: format_and_check_frontend, check_backend

lefthook.yml:

pre-commit:
  commands:
    format_and_check_frontend:
      glob: "{src,tests}/**/*.{js,ts,svelte,css}"
      run: |
        npm run format -- {staged_files} \
          && npm run check:biome -- {staged_files} \
          && npm run check:svelte -- {staged_files}
    check_backend:
      glob: "**/*.rs"
      run: npm run check:backend

chore: add context for coding agents
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

fix: handle boolean fields in search filters (#33)
  src-tauri/src/db/database.rs
  src/lib/components/Filters.svelte
  src/lib/utils/filterCategories.ts
Due: format_and_check_frontend, check_backend

fix: handle boolean fields in search filters (#33) (#39)
  src-tauri/src/db/database.rs
  src/lib/components/Filters.svelte
  src/lib/utils/filterCategories.ts
Due: format_and_check_frontend, check_backend

fix: disable map rotation and perspective control
  src/lib/components/OccurrenceMap.svelte
  src/routes/Map.svelte
Due: format_and_check_frontend

test: add tests for extraneous file deletion
  src-tauri/src/dwca/archive.rs
Due: check_backend

feat: clean up CSV/TXT data files after importing into database (#38)
  src-tauri/src/dwca/archive.rs
Due: check_backend

wip: support sounds in iNat downloads
  chuck-cli/Cargo.toml
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
  chuck-cli/src/progress.rs
  chuck-core/Cargo.toml
  chuck-core/src/api/params.rs
  chuck-core/src/darwin_core/conversions.rs
  chuck-core/src/darwin_core/mod.rs
  chuck-core/src/darwin_core/photos.rs
  chuck-core/src/downloader.rs
  chuck-core/tests/downloader_integration_test.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/components/InatProgressOverlay.svelte
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceDrawer.svelte
  src/lib/utils/media.test.ts
  src/lib/utils/media.ts
  src/routes/+layout.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend, check_backend

feat: show audio icons instead of player on cards
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceCard.svelte
  src/lib/components/OccurrenceDrawer.svelte
Due: format_and_check_frontend

feat: fit audio grid cell to element height
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceDrawer.svelte
Due: format_and_check_frontend

fix: pause audio when drawer closes, navs away, or playing another sound
  src/lib/components/OccurrenceDrawer.svelte
Due: format_and_check_frontend

fix: use isSoundMedia() in OccurrenceCard for consistent sound detection
  src/lib/components/OccurrenceCard.svelte
Due: format_and_check_frontend

fix: remove unused isSoundMedia re-export from MediaItem
  src/lib/components/MediaItem.svelte
Due: format_and_check_frontend

refactor: move create_date_subdir to module-level free function
  chuck-core/src/darwin_core/photos.rs
Due: check_backend

fix: stream sound file downloads instead of buffering into memory
  chuck-core/src/darwin_core/photos.rs
Due: check_backend

refactor: extract shared download helpers to eliminate retry duplication
  chuck-core/src/darwin_core/photos.rs
Due: check_backend

fix: interpret value-less URL params as true when downloading from iNat
  chuck-core/src/api/params.rs
Due: check_backend

fix: write empty extension files when no data
  chuck-core/src/darwin_core/archive.rs
Due: check_backend

feat: support sounds (#40)
  chuck-cli/Cargo.toml
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
  chuck-cli/src/progress.rs
  chuck-core/Cargo.toml
  chuck-core/src/api/params.rs
  chuck-core/src/darwin_core/conversions.rs
  chuck-core/src/darwin_core/mod.rs
  chuck-core/src/darwin_core/photos.rs
  chuck-core/src/downloader.rs
  chuck-core/tests/downloader_integration_test.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/components/InatProgressOverlay.svelte
  src/lib/components/MediaItem.svelte
  src/lib/components/OccurrenceCard.svelte
  src/lib/components/OccurrenceDrawer.svelte
  src/lib/utils/media.test.ts
  src/lib/utils/media.ts
  src/routes/+layout.svelte
  src/routes/inat-download/+page.svelte
  tests/inat-download.spec.ts
Due: format_and_check_frontend, check_backend

test: deflake scroll test
  tests/app.spec.ts
Due: none

feat: make table columns resizable
  src/lib/utils/columnWidth.ts
  src/lib/utils/viewPreferences.test.ts
  src/lib/utils/viewPreferences.ts
  src/routes/Table.svelte
Due: format_and_check_frontend

fix: stop manually shortening URLs in table cells
  src-tauri/tauri.conf.json
  src/routes/Table.svelte
Due: format_and_check_frontend

feat: allow resizable columns (#42)
  src/lib/utils/columnWidth.ts
  src/lib/utils/viewPreferences.test.ts
  src/lib/utils/viewPreferences.ts
  src/routes/Table.svelte
  tests/app.spec.ts
Due: format_and_check_frontend

wip: update existing Chuck archives w/ CLI
  chuck-cli/Cargo.toml
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/darwin_core/meta.rs
  chuck-core/src/downloader.rs
  chuck-core/src/lib.rs
  chuck-core/src/merge.rs
Due: check_backend

wip: add GUI for updating existing archive
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/routes/inat-download/+page.svelte
  vite.config.js
Due: format_and_check_frontend, check_backend

wip: estimate size of archive update
  chuck-core/src/archive_updater.rs
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: emphasize Choose Archive button when needed
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend

refactor: divide download page into components
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/CreateArchiveTab.svelte
  src/routes/inat-download/UpdateArchiveTab.svelte
  src/routes/inat-download/size-estimate.ts
Due: format_and_check_frontend

test: add coverage for backend DwC-A merging
  chuck-core/src/archive_updater.rs
Due: check_backend

test: add frontend tests for update archive tab
  tests/inat-download.spec.ts
Due: none

fix: write to temp file when merging
  chuck-core/src/archive_updater.rs
Due: check_backend

fix: allow cancelling the update archive process
  chuck-cli/src/commands/observations.rs
  chuck-core/src/archive_updater.rs
  src-tauri/src/commands/inat_download.rs
Due: check_backend

fix: preserve existing abstract in eml.xml
  chuck-core/src/archive_updater.rs
Due: check_backend

refactor: pull lambda out into a real function
  chuck-core/src/archive_updater.rs
Due: check_backend

refactor: move tauri command calls behind api wrapper
  src/lib/tauri-api.ts
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/UpdateArchiveTab.svelte
Due: format_and_check_frontend

refactor: remove unreachable code
  chuck-cli/src/commands/observations.rs
Due: check_backend

refactor: stream content directly out of the existing zip
  chuck-core/src/archive_updater.rs
  chuck-core/src/merge.rs
Due: check_backend

fix: preserve all photos when updating an archive
  chuck-core/src/archive_updater.rs
  chuck-core/src/merge.rs
Due: check_backend

test: ensure pubDate updating has a test
  chuck-core/src/archive_updater.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

feat: update existing archive (#45)
  chuck-cli/Cargo.toml
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/main.rs
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/darwin_core/meta.rs
  chuck-core/src/downloader.rs
  chuck-core/src/lib.rs
  chuck-core/src/merge.rs
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src/lib/tauri-api.ts
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/CreateArchiveTab.svelte
  src/routes/inat-download/UpdateArchiveTab.svelte
  src/routes/inat-download/size-estimate.ts
  tests/inat-download.spec.ts
  vite.config.js
Due: format_and_check_frontend, check_backend

refactor: consolidate duplicated obs CSV generation
  chuck-cli/src/commands/observations.rs
  chuck-cli/src/output/csv.rs
Due: check_backend
