Repository kueda/chuck: changes, and which lefthook commands are due for each by the changed paths.
All: format_and_check_frontend, check_backend

lefthook.yml:

pre-commit:
  commands:
    format_and_check_frontend:
      glob: "{src,tests}/**/*.{js,ts,svelte,css}"
      run: |
        npm run format -- {staged_files} \
          && npm run check:biome -- {staged_files} \
          && npm run check:svelte -- {staged_files}
    check_backend:
      glob: "**/*.rs"
      run: npm run check:backend

chore: add workflow that just builds artifacts
  .github/workflows/build.yml
Due: none

chore: move all remaining tauri command invocations to wrapper
  src/lib/tauri-api.ts
  src/routes/+page.svelte
  src/routes/inat-download/+page.svelte
  src/routes/inat-download/CreateArchiveTab.svelte
  src/routes/metadata/+page.svelte
  src/routes/offline-basemaps/+page.svelte
Due: format_and_check_frontend

feat: add log viewer
  chuck-core/src/darwin_core/photos.rs
  chuck-core/src/downloader.rs
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/archive.rs
  src-tauri/src/commands/inat_download.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/lib/components/LogDrawer.svelte
  src/lib/tauri-api.ts
  src/routes/+page.svelte
Due: format_and_check_frontend, check_backend

chore: add logging around auth
  chuck-cli/Cargo.toml
  chuck-cli/src/main.rs
  chuck-core/src/auth/keyring_storage.rs
  chuck-core/src/auth/oauth.rs
  src-tauri/src/commands/inat_auth.rs
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

fix: write temp data for new archive to parent dir of destination
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/downloader.rs
Due: check_backend

fix: try again when backup download requests fail
  chuck-core/src/api/client.rs
Due: check_backend

feat: keep awake while downloading
  src-tauri/Cargo.toml
  src-tauri/src/commands/inat_download.rs
Due: check_backend

refactor: use custom user agent for all network requests
  chuck-core/src/api/client.rs
  chuck-core/src/darwin_core/photos.rs
Due: check_backend

refactor: add media to zip during download process
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/downloader.rs
Due: check_backend

fix: preserve parsed zip central directory between photo access
  src-tauri/src/commands/archive.rs
  src-tauri/src/lib.rs
Due: check_backend

refactor: add media to zip during download process (#47)
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  chuck-core/src/darwin_core/archive.rs
  chuck-core/src/downloader.rs
Due: check_backend

fix: preserve parsed zip central directory between photo access (#48)
  src-tauri/src/commands/archive.rs
  src-tauri/src/lib.rs
Due: check_backend

fix: normalize paths when writing to zip on Windows
  chuck-core/src/darwin_core/archive.rs
Due: check_backend

feat: improve archive read performance when updating
  chuck-core/src/archive_updater.rs
  chuck-core/src/chuck_metadata.rs
  src-tauri/src/commands/inat_download.rs
Due: check_backend

feat: show progress of merge during archive update
  chuck-cli/src/commands/observations.rs
  chuck-core/src/archive_updater.rs
  chuck-core/src/downloader.rs
  src-tauri/src/commands/inat_download.rs
  src/lib/components/InatProgressOverlay.svelte
  src/routes/inat-download/+page.svelte
Due: format_and_check_frontend, check_backend

experiment: append-based archive update to avoid O(archive_size) I/O
  chuck-core/Cargo.toml
  chuck-core/src/archive_updater.rs
Due: check_backend

fix: allow dead code for testing
  chuck-core/src/archive_updater.rs
Due: check_backend

feat: show info about archive to update in a table
  src/routes/inat-download/UpdateArchiveTab.svelte
Due: format_and_check_frontend

v0.5.0
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: avoid writing correupted zips with duplicate media files
  chuck-core/src/downloader.rs
  chuck-core/tests/downloader_integration_test.rs
Due: check_backend

v0.5.1
  chuck-cli/Cargo.toml
  chuck-core/Cargo.toml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none
